config.json
modules/__pycache__/**
LICENSE
configbackup.json
images/current_screen.png
images/macro_inv_ss.png
images/biomefound.png
.git/*
images/auras/*
images/merchant_screenshot.png
build/*
dist/*